location_analysis/node_red_itemsense_flow.json
[
    {
        "id": "48a86bcb.12ea34",
        "type": "subflow",
        "name": "Send Output ",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "7feb12e2.a878ac"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "973d3292.80513",
        "type": "http response",
        "z": "48a86bcb.12ea34",
        "name": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "8dbf85fa.9c13f8",
        "type": "debug",
        "z": "48a86bcb.12ea34",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 360,
        "y": 160,
        "wires": []
    },
    {
        "id": "7feb12e2.a878ac",
        "type": "switch",
        "z": "48a86bcb.12ea34",
        "name": "",
        "property": "req",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "973d3292.80513"
            ],
            [
                "8dbf85fa.9c13f8"
            ]
        ]
    },
    {
        "id": "cc3e3a3e.943628",
        "type": "tab",
        "label": "Run-Stop-Wait"
    },
    {
        "id": "bd67065e.aacb38",
        "type": "inject",
        "z": "cc3e3a3e.943628",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "be259308.9bf91"
            ]
        ]
    },
    {
        "id": "be259308.9bf91",
        "type": "connect",
        "z": "cc3e3a3e.943628",
        "itemsense": "b5e8b3a.d92c15",
        "name": "",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "bc18cdc.9876c3"
            ],
            []
        ]
    },
    {
        "id": "f6ae8e0a.b32b8",
        "type": "stop-job",
        "z": "cc3e3a3e.943628",
        "name": "",
        "x": 720,
        "y": 360,
        "wires": [
            [
                "d3088d39.6d7b9"
            ],
            []
        ]
    },
    {
        "id": "d3088d39.6d7b9",
        "type": "wait-status",
        "z": "cc3e3a3e.943628",
        "name": "",
        "jobStatus": "STOPPED",
        "timeout": "15",
        "interval": 1,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "bc18cdc.9876c3"
            ],
            []
        ]
    },
    {
        "id": "bc18cdc.9876c3",
        "type": "run-job",
        "z": "cc3e3a3e.943628",
        "name": "",
        "itemsense": "b5e8b3a.d92c15",
        "recipe": "BossBattle",
        "runLength": "90",
        "startDelay": "PT0S",
        "facility": "MF-Dungeons",
        "readerGroups": "",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "be9484e3.dfb9a8",
                "2083a290.92930e"
            ],
            [
                "f6ae8e0a.b32b8"
            ],
            []
        ]
    },
    {
        "id": "be9484e3.dfb9a8",
        "type": "wait-status",
        "z": "cc3e3a3e.943628",
        "name": "",
        "jobStatus": "RUNNING",
        "timeout": "120",
        "interval": 1,
        "x": 960,
        "y": 160,
        "wires": [
            [
                "a60b4309.21c9d",
                "b20cab8f.08a838"
            ],
            []
        ]
    },
    {
        "id": "a60b4309.21c9d",
        "type": "subflow:48a86bcb.12ea34",
        "z": "cc3e3a3e.943628",
        "name": "",
        "x": 1170,
        "y": 220,
        "wires": []
    },
    {
        "id": "9c56806d.ed264",
        "type": "catch",
        "z": "cc3e3a3e.943628",
        "name": "",
        "scope": null,
        "x": 980,
        "y": 280,
        "wires": [
            [
                "a60b4309.21c9d"
            ]
        ]
    },
    {
        "id": "5b6f89a6.4bce88",
        "type": "http in",
        "z": "cc3e3a3e.943628",
        "name": "",
        "url": "/runjob",
        "method": "get",
        "swaggerDoc": "",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "be259308.9bf91"
            ]
        ]
    },
    {
        "id": "b20cab8f.08a838",
        "type": "debug",
        "z": "cc3e3a3e.943628",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.id",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "2083a290.92930e",
        "type": "wait-status",
        "z": "cc3e3a3e.943628",
        "name": "",
        "jobStatus": "STOPPED",
        "timeout": "120",
        "interval": "2",
        "x": 976,
        "y": 100,
        "wires": [
            [
                "b20cab8f.08a838",
                "7aee6e26.630f5"
            ],
            []
        ]
    },
    {
        "id": "7aee6e26.630f5",
        "type": "template",
        "z": "cc3e3a3e.943628",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"username\" : \"admin\",\n    \"password\" : \"mofasexy\",\n    \"itemsenseIP\" : \"http://172.16.80.169/itemsense\",\n    \"zoneName\" : \"dungeons\",\n    \"jobID\" : \"{{payload.id}}\"\n}",
        "output": "json",
        "x": 1200,
        "y": 80,
        "wires": [
            [
                "b3973fcc.cecda",
                "992e25fe.47f5b8"
            ]
        ]
    },
    {
        "id": "b3973fcc.cecda",
        "type": "debug",
        "z": "cc3e3a3e.943628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1330,
        "y": 20,
        "wires": []
    },
    {
        "id": "80a32790.7885e8",
        "type": "template",
        "z": "cc3e3a3e.943628",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"username\" : \"admin\",\n    \"password\" : \"mofasexy\",\n    \"itemsenseIP\" : \"http://172.16.80.169/itemsense\",\n    \"zoneName\" : \"dungeons\",\n    \"jobID\" : \"be6cb69d-075f-4d71-9699-d56c7e71de2a\"\n}",
        "output": "json",
        "x": 1260,
        "y": 380,
        "wires": [
            [
                "992e25fe.47f5b8"
            ]
        ]
    },
    {
        "id": "8c10e3a4.756db",
        "type": "inject",
        "z": "cc3e3a3e.943628",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1100,
        "y": 400,
        "wires": [
            [
                "80a32790.7885e8"
            ]
        ]
    },
    {
        "id": "4b2bb105.84691",
        "type": "exec",
        "z": "cc3e3a3e.943628",
        "command": "python3 /home/hanz/supermario/sllurp/location_analysis/itemsense_zone_detect_node_red.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "isolation forest",
        "x": 1740,
        "y": 280,
        "wires": [
            [
                "ff852009.03a61"
            ],
            [
                "ff852009.03a61"
            ],
            []
        ]
    },
    {
        "id": "311e6142.0ceb8e",
        "type": "function",
        "z": "cc3e3a3e.943628",
        "name": "",
        "func": "msg.payload = `'${msg.payload}'`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1530,
        "y": 380,
        "wires": [
            [
                "4b2bb105.84691"
            ]
        ]
    },
    {
        "id": "992e25fe.47f5b8",
        "type": "json",
        "z": "cc3e3a3e.943628",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1400,
        "y": 380,
        "wires": [
            [
                "311e6142.0ceb8e"
            ]
        ]
    },
    {
        "id": "ff852009.03a61",
        "type": "debug",
        "z": "cc3e3a3e.943628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2030,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0c68381.aa6ff",
        "type": "debug",
        "z": "cc3e3a3e.943628",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2030,
        "y": 340,
        "wires": []
    },
    {
        "id": "b5e8b3a.d92c15",
        "type": "itemsense-instance",
        "z": "",
        "url": "http://172.16.80.169/itemsense",
        "user": "admin",
        "password": "mofasexy"
    }
]